<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- If you need to support IE 9 or IE 8 -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
	<% if (timeRefresh) { %>
		<meta http-equiv="refresh" content="3">
	<% } %>

	<title><%= title %></title>
</head>
<body>