<% include ./partials/header.ejs %>

<header>
	<h1>Choose poll</h1>
	<a href="/new-poll">🔢</a>
</header>

<main>
	<ul>
		<% pollList.forEach(function(poll) { %>
			<li>
				<h3><%= poll.doc.question %></h3>

				<% poll.doc.choices.forEach(function(choice) { %>
					<p><%= choice %></p>
				<% }); %>
			</li>
		<% }); %>
	</ul>
</main>

<% include ./partials/footer.ejs %>