<% include ./partials/header.ejs %>

<a href="/">Go back</a>

<header>
	<h1>Create poll</h1>
</header>

<main>
	<form action="/new-poll" method="POST">
		<fieldset>
			<label for="poll-question">Poll question</label>
			<input id="poll-question" name="poll-question" type="text" required></input>
			
			<label for="poll-choice-1">Choice 1</label>
			<input id="poll-choice-1" name="poll-choices" type="text" required />
			<label for="poll-choice-2">Choice 2</label>
			<input id="poll-choice-2" name="poll-choices" type="text" />
			<label for="poll-choice-3">Choice 3</label>
			<input id="poll-choice-3" name="poll-choices" type="text" />
		</fieldse>

		<input type="submit">
	</form>
</main>

<% include ./partials/footer.ejs %>