<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- If you need to support IE 9 or IE 8 -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
	<meta http-equiv="refresh" content="5">
	<title>Poll</title>
</head>
<body>
	<header>
		<h1>New poll</h1>
	</header>
	<main>
		form
		<form action="/new-poll" method="POST"></form>
	</main>
</body>
</html>