<% include ./partials/header.ejs %>

<header>
	<h1>Choose a poll</h1>
	<a href="/new-poll">+ New poll</a>
</header>

<main>
	<% if (pollList) { %>
		<ul>
			<% pollList.forEach(function(poll) { %>
				<li class="poll--card">
					<a href="/poll/<%= poll.id %>">
	
						<h3><%= poll.doc.question %></h3>
						
					</a>
				</li>
			<% }); %>
		</ul>
	<% } else { %>
		<p>Oops there are no active polls as of now</p>
	<% } %>
</main>


<% include ./partials/footer.ejs %>