
html {
	font-size: 16px;
	font-family: sans-serif;
	/* background-color: red; */
	color: #3f3f3f;
}

body {
	min-width: 5em;
	max-width: 42em;
	margin: 3em 1em;
}

main {
	background-color: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a,
a:visited {
	color: #3f3f3f;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #81D4FA;
}

@media all and (min-width: 42em) {
	body {
		margin: 3em auto;
	}
}

header {
	margin: 1em 0;
}

header h1 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 900;
	margin: 0;
}


@supports (display: flex) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@supports not (display: flex) {
	header > * {
		display: inline-block;
	}
	
	header > a {
		margin-left: auto;
	}
}

@media all and (min-width: 30em) {
	header h1 {
		font-size: 3em;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

/*==========================
=== Overview page - Homepage
===========================*/

.poll-card {

}

.poll--card h3 {
	
}

.poll--card p {
	
}

.poll--card a {
	display: block;
	padding: 1em 2em;
	transition: box-shadow .2s ease-in;
}

.poll--card a:hover,
.poll--card a:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



/*==========================
=== Detail page - where you can vote
===========================*/

form {
	/* max-width: 30em; */
	/* width: 100%; */
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form ul {
	
}

[type="submit"] {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
	border: none;
	width: 100%;
	padding: 1em;
	transition: color .15s ease-in;
	transition: background-color .15s ease-in;
}

[type="submit"]:focus,
[type="submit"]:hover {
	background-color: #81D4FA;
	color: #fff;
}

.poll--choice {
}

.poll--choice input:checked + label {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.poll--choice label:hover,
.poll--choice label:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.poll--choice label b {
	font-size: 1.5em;
}

.poll--choice label p {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1.4;
	/* margin-left: auto; */
}

@supports (display: flex) {
	.poll--choice label {
		display: flex;
		padding: 1.5em;
		transition: box-shadow .2s ease-in;
		align-items: center;
		justify-content: space-between;
	}
}

@supports not (display: flex) {
	.poll--choice label {
		display: block;
		padding: 1.5em;
		transition: box-shadow .2s ease-in;
	}
}



.poll--choice [type="radio"] {
	visibility: hidden;
	position: absolute;
	pointer-events: none;
}


/*==========================
=== Add new form page
===========================*/


fieldset {
	margin: 0;
	border: 0;
	padding: 2em;
}

[action="/new-poll"][method="POST"] {
	/* padding: 2em; */
}

[action="/new-poll"][method="POST"] label,
[action="/new-poll"][method="POST"] input {
	display: block;
}

[action="/new-poll"][method="POST"] label {
	font-size: 1.2em;
	font-weight: 700;
}

[action="/new-poll"][method="POST"] [type="text"] {
	font-size: 1em;
	font-weight: 300;
	height: 2em;
	width: 100%;
	margin-bottom: 1.5em;
	border: none;
	border-bottom: 1.5px solid #81D4FA;
	padding: 0;
}

@supports (display: flex) {
	
}

@supports not (display: flex) {
}


[name="poll-choices"] {}

